main {
    display:flex;
    justify-content:space-evenly;
}

.instrument {
    min-width:100px;
    border-radius:1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:lightgray;
    transition:background-color 0.1s translateY 0.1s;
}

.active {
    background-color:lightblue;
    transform:translateY(1rem);
}
