/* Universal Selector*/
*{
    color: #3b3b3b;
}

*{
    font-family: sans-serif;
}
/* Element Selector */
h1 {
    text-transform: uppercase;
    color: saddlebrown;
}

img {
    width: 500px;
}

/*Id Selector */
#status{
    color: brown;
}

/*Class Selector*/
.standout-box{
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 1rem
}

.subtitle{
    text-transform: uppercase;
    font-size: 1.2rem;
    color: saddlebrown;
    font-weight: bold;
}

.break{
    margin-top:2rem;
    margin-bottom:2rem;
}
/* Group Selector */
h1, .subtitle {
    font-family: serif;
}

/* Pseudo Class Selectors */

a {
    text-decoration: none;
    color: brown;
}

a:hover {
    text-decoration: underline;
    color: saddlebrown;
}

main {
    width: 600px;
    margin: auto;
}

